#flex-container{
    display:flex;
    flex-direction: column;
    width: 1430px;
}
#menu{
    display: flex;
    width: fit-content;
    height: 80px ;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
   background-color: rgba(255, 252, 252, 0.934);
   padding-top: 20px;
}
#menu-left{
    margin-left: 40px;
   
}
#menu-logo{
    width: 100px;
    height: 40px;
    align-content: center;
    
}
#menu-middle{
    display: flex;
    flex-direction: row;
    width: 466px;
   justify-content: space-around;
    margin-left: 40px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
#menu-right{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    width: 300px;
    justify-content: space-around;
    
}
#search{
    border-color: aliceblue;
    border-width: 0;
    background-color: rgba(243, 240, 240, 0.975);
    width: 200px;
    height: 30px;
}
#container1{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
#container1-line1{
   
}
#container1-line2{
  
}
#container1-line3{
    display: flex;
    flex-direction: row;
}
#container1-line3-left{
    display: flex;
    flex-direction: row;
  
}
#container1-line3-right{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
 
}
#container2{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
#container2-left{

}
#container2-middle{
    display: flex;
    flex-direction: column;
}
#container2-right{
    display: flex;
    flex-direction: column;

}
#container3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
#container3-left{
    display: flex;
    flex-direction: column;
}
#container3-left-bottom{
    display: flex;
    flex-direction: row;
}
#container3-left-bottom-col1{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
#freedelivery{
    display: flex;
    flex-direction: row;
}
#madeinusa{
    display: flex;
    flex-direction: row;
}
#authentic{
    display: flex;
    flex-direction: row;
}
.col2{
    display: flex;
    flex-direction: row;
}
#container3-right{
    margin-left: 70px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
#form{
    display: flex;
    flex-direction: column;
}
#total{
    display: flex;
    flex-direction: row;
}
#container4{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
#container4-reviews{
    display: flex;
    flex-direction: row;
}
#show{
    margin-left: 500px;
}
#container4-comments{
    display: flex;
    flex-direction: row;
}
#container4-comments-left{
    display: flex;
    flex-direction: column;
}
#container4-comments-left-name{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
#container4-comments-left-rate{
    margin-left: 50px;
}
#container4-comments-left-cmt{
    margin-left: 50px;
}
#container5{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
#container5-title{
    display: flex;
    flex-direction: row;
}
#container5-rate{
    display: flex;
    flex-direction: row;
}
#container6{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 1464px;
    height: 617px;
    margin-left: 300px;
}
#logo{
    width: 50px;
    height: 50px;
}
#inputmail{
    width: 267px;
}
#button{
    display: flex;
    flex-direction: row;
}
#footer{
    display: flex;
    flex-direction: row;

}